.card {
  border-color: #ecaace;
  margin: 20px 10px 20px 10px;
  padding: 10px;
  border-width: 20px; 
}

body {
  background: none;
  color: #683238;
  font-family: "Open Sans", Arial, sans-serif;
}

.card-title {
  color: #380810;
  font-weight: 320;
}